body{
    background-color: #04a6eb;
    color:#fdffff;
    width: 500px;
    margin-right:auto;
    margin-left:auto;
}

button{
    padding:5px 20px; /*paddingは要素の内側の余白を設定，上下 左右*/
    background-color: #337ab7;
    color:#fdffff;
    border-style: none; /*境界線表示しない*/
}

input{
    height:20px;
}